openapi: 3.0.3
info:
  description: "This is the documentation for the ElevenLabs API. You can use this\
    \ API to use our service programmatically, this is done by using your xi-api-key.\
    \ <br/> You can view your xi-api-key using the 'Profile' tab on https://elevenlabs.io.\
    \ Our API is experimental so all endpoints are subject to change."
  title: ElevenLabs API Documentation
  version: "1.0"
  x-konfig-ignore:
    object-with-no-properties: true
  x-konfig-uses-multipart-form-data: true
servers:
- url: https://api.elevenlabs.io
tags:
- description: "Access, create and convert Projects programmatically, only specifically\
    \ whitelisted accounts can access the Projects API. If you need access please\
    \ contact our sales team."
  name: projects
- description: Access to voices created either by you or us.
  name: voices
- description: Accesses your speech history. Your speech history is a list of all
    your created audio including its metadata using our text-to-speech and speech-to-speech
    models.
  name: speech-history
- name: dubbing
- name: voice-generation
- description: Convert text into lifelike speech using a voice of your choice.
  name: text-to-speech
- description: Create speech by combining the style and content of an audio file you
    upload with a voice of your choice.
  name: speech-to-speech
- description: Access to your samples. A sample is any audio file you attached to
    a voice. A voice can have one or more samples.
  name: samples
- name: user
- name: Pronunciation Dictionary
- description: Access the different models of the platform.
  name: models
- name: workspace
- name: audio-native
- name: redirect
paths:
  /v1/history:
    get:
      description: Returns metadata about all your generated audio.
      operationId: Speechhistory_getGeneratedAudioMetadata
      parameters:
      - description: "How many history items to return at maximum. Can not exceed\
          \ 1000, defaults to 100."
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          default: 100
          description: "How many history items to return at maximum. Can not exceed\
            \ 1000, defaults to 100."
          example: 100
          title: Page Size
          type: integer
          x-konfig-original-example: 100
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-history-get-parameters-0-schema
        style: form
      - description: "After which ID to start fetching, use this parameter to paginate\
          \ across a large collection of history items. In case this parameter is\
          \ not provided history items will be fetched starting from the most recently\
          \ created one ordered descending by their creation date."
        explode: true
        in: query
        name: start_after_history_item_id
        required: false
        schema:
          description: "After which ID to start fetching, use this parameter to paginate\
            \ across a large collection of history items. In case this parameter is\
            \ not provided history items will be fetched starting from the most recently\
            \ created one ordered descending by their creation date."
          title: Start After History Item Id
          type: string
        style: form
      - description: "Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices\
          \ to receive a list of voices and their IDs."
        explode: true
        in: query
        name: voice_id
        required: false
        schema:
          description: "Voice ID to be filtered for, you can use GET https://api.elevenlabs.io/v1/voices\
            \ to receive a list of voices and their IDs."
          title: Voice Id
          type: string
        style: form
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSpeechHistoryResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Generated Items
      tags:
      - speech-history
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-history
      x-accepts: application/json
  /v1/history/{history_item_id}:
    delete:
      description: Delete a history item by its ID
      operationId: Speechhistory_deleteHistoryItemById
      parameters:
      - description: "History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history\
          \ to receive a list of history items and their IDs."
        example: VW7YKqPnjY4h39yTbx2L
        explode: false
        in: path
        name: history_item_id
        required: true
        schema:
          description: "History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history\
            \ to receive a list of history items and their IDs."
          title: History Item Id
          type: string
        style: simple
        x-konfig-original-example: VW7YKqPnjY4h39yTbx2L
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechhistoryDeleteHistoryItemByIdResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Delete History Item
      tags:
      - speech-history
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-history-history_item_id
      x-accepts: application/json
    get:
      description: Returns information about an history item by its ID.
      operationId: Speechhistory_getHistoryItemById
      parameters:
      - description: "History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history\
          \ to receive a list of history items and their IDs."
        example: VW7YKqPnjY4h39yTbx2L
        explode: false
        in: path
        name: history_item_id
        required: true
        schema:
          description: "History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history\
            \ to receive a list of history items and their IDs."
          title: History Item Id
          type: string
        style: simple
        x-konfig-original-example: VW7YKqPnjY4h39yTbx2L
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpeechHistoryItemResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get History Item By Id
      tags:
      - speech-history
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-history-history_item_id
      x-accepts: application/json
  /v1/history/{history_item_id}/audio:
    get:
      description: Returns the audio of an history item.
      operationId: Speechhistory_getHistoryItemAudio
      parameters:
      - description: "History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history\
          \ to receive a list of history items and their IDs."
        example: VW7YKqPnjY4h39yTbx2L
        explode: false
        in: path
        name: history_item_id
        required: true
        schema:
          description: "History item ID to be used, you can use GET https://api.elevenlabs.io/v1/history\
            \ to receive a list of history items and their IDs."
          title: History Item Id
          type: string
        style: simple
        x-konfig-original-example: VW7YKqPnjY4h39yTbx2L
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            audio/mpeg: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Audio From History Item
      tags:
      - speech-history
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-history-history_item_id-audio
      x-accepts: application/json
  /v1/history/download:
    post:
      description: "Download one or more history items. If one history item ID is\
        \ provided, we will return a single audio file. If more than one history item\
        \ IDs are provided, we will provide the history items packed into a .zip file."
      operationId: Speechhistory_downloadHistoryItems
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Download_history_items_v1_history_download_post'
        required: true
      responses:
        "200":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Download History Items
      tags:
      - speech-history
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-history-download
      x-content-type: application/json
      x-accepts: application/json
  /v1/voices/{voice_id}/samples/{sample_id}:
    delete:
      description: Removes a sample by its ID.
      operationId: Samples_removeById
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id}\
          \ to list all the available samples for a voice."
        example: VW7YKqPnjY4h39yTbx2L
        explode: false
        in: path
        name: sample_id
        required: true
        schema:
          description: "Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id}\
            \ to list all the available samples for a voice."
          title: Sample Id
          type: string
        style: simple
        x-konfig-original-example: VW7YKqPnjY4h39yTbx2L
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamplesRemoveByIdResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Delete Sample
      tags:
      - samples
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-voices-voice_id-samples-sample_id
      x-accepts: application/json
  /v1/voices/{voice_id}/samples/{sample_id}/audio:
    get:
      description: Returns the audio corresponding to a sample attached to a voice.
      operationId: Samples_getAudioFromSample
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id}\
          \ to list all the available samples for a voice."
        example: VW7YKqPnjY4h39yTbx2L
        explode: false
        in: path
        name: sample_id
        required: true
        schema:
          description: "Sample ID to be used, you can use GET https://api.elevenlabs.io/v1/voices/{voice_id}\
            \ to list all the available samples for a voice."
          title: Sample Id
          type: string
        style: simple
        x-konfig-original-example: VW7YKqPnjY4h39yTbx2L
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            audio/*: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Audio From Sample
      tags:
      - samples
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-voices-voice_id-samples-sample_id-audio
      x-accepts: application/json
  /v1/text-to-speech/{voice_id}:
    post:
      description: Converts text into speech using a voice of your choice and returns
        audio.
      operationId: Texttospeech_convertTextToSpeech
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: |
          You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
          0 - default mode (no latency optimizations)
          1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
          2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
          3 - max latency optimizations
          4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

          Defaults to 0.
        explode: true
        in: query
        name: optimize_streaming_latency
        required: false
        schema:
          default: 0
          description: |
            You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
            0 - default mode (no latency optimizations)
            1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
            2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
            3 - max latency optimizations
            4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

            Defaults to 0.
          example: 0
          title: How much we should optimize streaming request latency (time to first
            audio byte).
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-text-to-speech-voice_id-post-parameters-1-schema
        style: form
      - description: |
          Output format of the generated audio. Must be one of:
          mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.
          mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.
          mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.
          mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.
          mp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.
          mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.
          pcm_16000 - PCM format (S16LE) with 16kHz sample rate.
          pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.
          pcm_24000 - PCM format (S16LE) with 24kHz sample rate.
          pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Independent Publisher tier or above.
          ulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.
        explode: true
        in: query
        name: output_format
        required: false
        schema:
          default: mp3_44100_128
          description: |
            Output format of the generated audio. Must be one of:
            mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.
            mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.
            mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.
            mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.
            mp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.
            mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.
            pcm_16000 - PCM format (S16LE) with 16kHz sample rate.
            pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.
            pcm_24000 - PCM format (S16LE) with 24kHz sample rate.
            pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Independent Publisher tier or above.
            ulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.
          example: mp3_44100_128
          title: Output format of the generated audio.
          type: string
          x-konfig-original-example: mp3_44100_128
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-text-to-speech-voice_id-post-parameters-2-schema
        style: form
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_v1_text_to_speech__voice_id__post'
        required: true
      responses:
        "200":
          content:
            audio/mpeg: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Text To Speech
      tags:
      - text-to-speech
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-text-to-speech-voice_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/text-to-speech/{voice_id}/stream:
    post:
      description: Converts text into speech using a voice of your choice and returns
        audio as an audio stream.
      operationId: Texttospeech_convertTextToSpeechStream
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: |
          You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
          0 - default mode (no latency optimizations)
          1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
          2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
          3 - max latency optimizations
          4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

          Defaults to 0.
        explode: true
        in: query
        name: optimize_streaming_latency
        required: false
        schema:
          default: 0
          description: |
            You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
            0 - default mode (no latency optimizations)
            1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
            2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
            3 - max latency optimizations
            4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

            Defaults to 0.
          example: 0
          title: How much we should optimize streaming request latency (time to first
            audio byte).
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-text-to-speech-voice_id-stream-post-parameters-1-schema
        style: form
      - description: |
          Output format of the generated audio. Must be one of:
          mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.
          mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.
          mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.
          mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.
          mp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.
          mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.
          pcm_16000 - PCM format (S16LE) with 16kHz sample rate.
          pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.
          pcm_24000 - PCM format (S16LE) with 24kHz sample rate.
          pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Independent Publisher tier or above.
          ulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.
        explode: true
        in: query
        name: output_format
        required: false
        schema:
          default: mp3_44100_128
          description: |
            Output format of the generated audio. Must be one of:
            mp3_22050_32 - output format, mp3 with 22.05kHz sample rate at 32kbps.
            mp3_44100_32 - output format, mp3 with 44.1kHz sample rate at 32kbps.
            mp3_44100_64 - output format, mp3 with 44.1kHz sample rate at 64kbps.
            mp3_44100_96 - output format, mp3 with 44.1kHz sample rate at 96kbps.
            mp3_44100_128 - default output format, mp3 with 44.1kHz sample rate at 128kbps.
            mp3_44100_192 - output format, mp3 with 44.1kHz sample rate at 192kbps. Requires you to be subscribed to Creator tier or above.
            pcm_16000 - PCM format (S16LE) with 16kHz sample rate.
            pcm_22050 - PCM format (S16LE) with 22.05kHz sample rate.
            pcm_24000 - PCM format (S16LE) with 24kHz sample rate.
            pcm_44100 - PCM format (S16LE) with 44.1kHz sample rate. Requires you to be subscribed to Independent Publisher tier or above.
            ulaw_8000 - μ-law format (sometimes written mu-law, often approximated as u-law) with 8kHz sample rate. Note that this format is commonly used for Twilio audio inputs.
          example: mp3_44100_128
          title: Output format of the generated audio.
          type: string
          x-konfig-original-example: mp3_44100_128
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-text-to-speech-voice_id-stream-post-parameters-2-schema
        style: form
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Text_to_speech_v1_text_to_speech__voice_id__stream_post'
        required: true
      responses:
        "200":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Text To Speech
      tags:
      - text-to-speech
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-text-to-speech-voice_id-stream
      x-content-type: application/json
      x-accepts: application/json
  /v1/speech-to-speech/{voice_id}:
    post:
      description: Create speech by combining the content and emotion of the uploaded
        audio with a voice of your choice.
      operationId: Speechtospeech_createWithVoice
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: |
          You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
          0 - default mode (no latency optimizations)
          1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
          2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
          3 - max latency optimizations
          4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

          Defaults to 0.
        explode: true
        in: query
        name: optimize_streaming_latency
        required: false
        schema:
          default: 0
          description: |
            You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
            0 - default mode (no latency optimizations)
            1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
            2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
            3 - max latency optimizations
            4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

            Defaults to 0.
          example: 0
          title: How much we should optimize streaming request latency (time to first
            audio byte).
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-speech-to-speech-voice_id-post-parameters-1-schema
        style: form
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_v1_speech_to_speech__voice_id__post'
        required: true
      responses:
        "200":
          content:
            audio/mpeg: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Speech To Speech
      tags:
      - speech-to-speech
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-speech-to-speech-voice_id
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/speech-to-speech/{voice_id}/stream:
    post:
      description: Create speech by combining the content and emotion of the uploaded
        audio with a voice of your choice and returns an audio stream.
      operationId: Speechtospeech_createWithVoice
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: |
          You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
          0 - default mode (no latency optimizations)
          1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
          2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
          3 - max latency optimizations
          4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

          Defaults to 0.
        explode: true
        in: query
        name: optimize_streaming_latency
        required: false
        schema:
          default: 0
          description: |
            You can turn on latency optimizations at some cost of quality. The best possible final latency varies by model. Possible values:
            0 - default mode (no latency optimizations)
            1 - normal latency optimizations (about 50% of possible latency improvement of option 3)
            2 - strong latency optimizations (about 75% of possible latency improvement of option 3)
            3 - max latency optimizations
            4 - max latency optimizations, but also with text normalizer turned off for even more latency savings (best latency, but can mispronounce eg numbers and dates).

            Defaults to 0.
          example: 0
          title: How much we should optimize streaming request latency (time to first
            audio byte).
          type: integer
          x-konfig-original-example: 0
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-speech-to-speech-voice_id-stream-post-parameters-1-schema
        style: form
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Speech_to_Speech_Streaming_v1_speech_to_speech__voice_id__stream_post'
        required: true
      responses:
        "200":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Speech To Speech Streaming
      tags:
      - speech-to-speech
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-speech-to-speech-voice_id-stream
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/voice-generation/generate-voice/parameters:
    get:
      description: Get possible parameters for the /v1/voice-generation/generate-voice
        endpoint.
      operationId: Voicegeneration_getVoiceGenerationParameters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceGenerationParameterResponseModel'
          description: Successful Response
      summary: Voice Generation Parameters
      tags:
      - voice-generation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-voice-generation-generate-voice-parameters
      x-accepts: application/json
  /v1/voice-generation/generate-voice:
    post:
      description: "Generate a random voice based on parameters. This method returns\
        \ a generated_voice_id in the response header, and a sample of the voice in\
        \ the body. If you like the generated voice call /v1/voice-generation/create-voice\
        \ with the generated_voice_id to create the voice."
      operationId: Voicegeneration_generateRandomVoice
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Generate_a_random_voice_v1_voice_generation_generate_voice_post'
        required: true
      responses:
        "200":
          content:
            audio/mpeg: {}
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Generate A Random Voice
      tags:
      - voice-generation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-voice-generation-generate-voice
      x-content-type: application/json
      x-accepts: application/json
  /v1/voice-generation/create-voice:
    post:
      description: Create a previously generated voice. This endpoint should be called
        after you fetched a generated_voice_id using /v1/voice-generation/generate-voice.
      operationId: Voicegeneration_createVoice
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Create_a_previously_generated_voice_v1_voice_generation_create_voice_post'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Create A Previously Generated Voice
      tags:
      - voice-generation
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-voice-generation-create-voice
      x-content-type: application/json
      x-accepts: application/json
  /v1/user/subscription:
    get:
      description: Gets extended information about the users subscription
      operationId: User_getSubscriptionInfo
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtendedSubscriptionResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get User Subscription Info
      tags:
      - user
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-user-subscription
      x-accepts: application/json
  /v1/user:
    get:
      description: Gets information about the user
      operationId: User_getInfo
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get User Info
      tags:
      - user
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-user
      x-accepts: application/json
  /v1/voices:
    get:
      description: Gets a list of all available voices for a user.
      operationId: Voices_listAllVoices
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetVoicesResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Voices
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-voices
      x-accepts: application/json
  /v1/voices/settings/default:
    get:
      description: Gets the default settings for voices. "similarity_boost" corresponds
        to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds
        to "Stability" slider in the web app.
      operationId: Voices_getDefaultVoiceSettings
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
          description: Successful Response
      summary: Get Default Voice Settings.
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-voices-settings-default
      x-accepts: application/json
  /v1/voices/{voice_id}/settings:
    get:
      description: Returns the settings for a specific voice. "similarity_boost" corresponds
        to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds
        to "Stability" slider in the web app.
      operationId: Voices_getSettings
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceSettingsResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Voice Settings
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-voices-voice_id-settings
      x-accepts: application/json
  /v1/voices/{voice_id}:
    delete:
      description: Deletes a voice by its ID.
      operationId: Voices_deleteById
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicesDeleteByIdResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Delete Voice
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-voices-voice_id
      x-accepts: application/json
    get:
      description: Returns metadata about a specific voice.
      operationId: Voices_getVoiceMetadata
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "If set will return settings information corresponding to the\
          \ voice, requires authorization."
        explode: true
        in: query
        name: with_settings
        required: false
        schema:
          default: false
          description: "If set will return settings information corresponding to the\
            \ voice, requires authorization."
          example: false
          title: With Settings
          type: boolean
          x-konfig-original-example: false
          x-konfig-generated-schema: konfig-generated-schema-paths--v1-voices-voice_id-get-parameters-1-schema
        style: form
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoiceResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Voice
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-voices-voice_id
      x-accepts: application/json
  /v1/voices/{voice_id}/settings/edit:
    post:
      description: Edit your settings for a specific voice. "similarity_boost" corresponds
        to"Clarity + Similarity Enhancement" in the web app and "stability" corresponds
        to "Stability" slider in the web app.
      operationId: Voices_editSettingsPost
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoiceSettingsResponseModel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicesEditSettingsPostResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Edit Voice Settings
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-voices-voice_id-settings-edit
      x-content-type: application/json
      x-accepts: application/json
  /v1/voices/add:
    post:
      description: Add a new voice to your collection of voices in VoiceLab.
      operationId: Voices_addVoiceToCollection
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_voice_v1_voices_add_post'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Add Voice
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-voices-add
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/voices/{voice_id}/edit:
    post:
      description: Edit a voice created by you.
      operationId: Voices_updateVoiceById
      parameters:
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Edit_voice_v1_voices__voice_id__edit_post'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoicesUpdateVoiceByIdResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Edit Voice
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-voices-voice_id-edit
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/voices/add/{public_user_id}/{voice_id}:
    post:
      description: Add a sharing voice to your collection of voices in VoiceLab.
      operationId: Voices_addToCollection
      parameters:
      - description: Public user ID used to publicly identify ElevenLabs users.
        example: 63e06b7e7cafdc46be4d2e0b3f045940231ae058d508589653d74d1265a574ca
        explode: false
        in: path
        name: public_user_id
        required: true
        schema:
          description: Public user ID used to publicly identify ElevenLabs users.
          title: Public User Id
          type: string
        style: simple
        x-konfig-original-example: 63e06b7e7cafdc46be4d2e0b3f045940231ae058d508589653d74d1265a574ca
      - description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
          \ to list all the available voices."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: voice_id
        required: true
        schema:
          description: "Voice ID to be used, you can use https://api.elevenlabs.io/v1/voices\
            \ to list all the available voices."
          title: Voice Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Add_sharing_voice_v1_voices_add__public_user_id___voice_id__post'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddVoiceResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Add Sharing Voice
      tags:
      - voices
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-voices-add-public_user_id-voice_id
      x-content-type: application/json
      x-accepts: application/json
  /v1/projects:
    get:
      description: Returns a list of your projects together and its metadata.
      operationId: Projects_getAllProjects
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetProjectsResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Projects
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-projects
      x-accepts: application/json
  /v1/projects/add:
    post:
      description: "Creates a new project, it can be either initialized as blank,\
        \ from a document or from a URL."
      operationId: Projects_createNewProject
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Add_project_v1_projects_add_post'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddProjectResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Add Project
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-projects-add
      x-content-type: multipart/form-data
      x-accepts: application/json
  /v1/projects/{project_id}:
    delete:
      description: Delete a project by its project_id.
      operationId: Projects_deleteById
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsDeleteByIdResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Delete Project
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-projects-project_id
      x-accepts: application/json
    get:
      description: Returns information about a specific project. This endpoint returns
        more detailed information about a project than GET api.elevenlabs.io/v1/projects.
      operationId: Projects_getById
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectExtendedResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Project By Id
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-projects-project_id
      x-accepts: application/json
  /v1/projects/{project_id}/convert:
    post:
      description: Starts conversion of a project and all of its chapters.
      operationId: Projects_startConversion
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsStartConversionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Convert Project
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-projects-project_id-convert
      x-accepts: application/json
  /v1/projects/{project_id}/snapshots:
    get:
      description: Gets the snapshots of a project.
      operationId: Projects_listSnapshots
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectSnapshotsResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Project Snapshots
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-projects-project_id-snapshots
      x-accepts: application/json
  /v1/projects/{project_id}/snapshots/{project_snapshot_id}/stream:
    post:
      description: Stream the audio from a project snapshot.
      operationId: Projects_streamAudioFromSnapshot
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "The project_snapshot_id of the project snapshot. You can query\
          \ GET /v1/projects/{project_id}/snapshots to list all available snapshots\
          \ for a project."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_snapshot_id
        required: true
        schema:
          description: "The project_snapshot_id of the project snapshot. You can query\
            \ GET /v1/projects/{project_id}/snapshots to list all available snapshots\
            \ for a project."
          title: Project Snapshot Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Stream Project Audio
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-projects-project_id-snapshots-project_snapshot_id-stream
      x-accepts: application/json
  /v1/projects/{project_id}/chapters:
    get:
      description: Returns a list of your chapters for a project together and its
        metadata.
      operationId: Projects_listChapters
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChaptersResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Chapters
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-projects-project_id-chapters
      x-accepts: application/json
  /v1/projects/{project_id}/chapters/{chapter_id}:
    delete:
      description: Delete a chapter by its chapter_id.
      operationId: Projects_deleteChapterById
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
          \ to list all available chapters for a project."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: chapter_id
        required: true
        schema:
          description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
            \ to list all available chapters for a project."
          title: Chapter Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsDeleteChapterByIdResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Delete Chapter
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-delete--v1-projects-project_id-chapters-chapter_id
      x-accepts: application/json
    get:
      description: Returns information about a specific chapter.
      operationId: Projects_getChapterById
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
          \ to list all available chapters for a project."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: chapter_id
        required: true
        schema:
          description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
            \ to list all available chapters for a project."
          title: Chapter Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Chapter By Id
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-projects-project_id-chapters-chapter_id
      x-accepts: application/json
  /v1/projects/{project_id}/chapters/{chapter_id}/convert:
    post:
      description: Starts conversion of a specific chapter.
      operationId: Projects_startChapterConversion
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
          \ to list all available chapters for a project."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: chapter_id
        required: true
        schema:
          description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
            \ to list all available chapters for a project."
          title: Chapter Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsStartChapterConversionResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Convert Chapter
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-projects-project_id-chapters-chapter_id-convert
      x-accepts: application/json
  /v1/projects/{project_id}/chapters/{chapter_id}/snapshots:
    get:
      description: "Gets information about all the snapshots of a chapter, each snapshot\
        \ corresponds can be downloaded as audio. Whenever a chapter is converted\
        \ a snapshot will be automatically created."
      operationId: Projects_getChapterSnapshots
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
          \ to list all available chapters for a project."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: chapter_id
        required: true
        schema:
          description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
            \ to list all available chapters for a project."
          title: Chapter Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChapterSnapshotsResponseModel'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Get Chapter Snapshots
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-get--v1-projects-project_id-chapters-chapter_id-snapshots
      x-accepts: application/json
  /v1/projects/{project_id}/chapters/{chapter_id}/snapshots/{chapter_snapshot_id}/stream:
    post:
      description: "Stream the audio from a chapter snapshot. Use GET /v1/projects/{project_id}/chapters/{chapter_id}/snapshots\
        \ to return the chapter snapshots of a chapter."
      operationId: Projects_streamAudioFromSnapshotPost
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
          \ to list all available chapters for a project."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: chapter_id
        required: true
        schema:
          description: "The chapter_id of the chapter. You can query GET https://api.elevenlabs.io/v1/projects/{project_id}/chapters\
            \ to list all available chapters for a project."
          title: Chapter Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: "The chapter_snapshot_id of the chapter snapshot. You can query\
          \ GET /v1/projects/{project_id}/chapters/{chapter_id}/snapshots to the all\
          \ available snapshots for a chapter."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: chapter_snapshot_id
        required: true
        schema:
          description: "The chapter_snapshot_id of the chapter snapshot. You can query\
            \ GET /v1/projects/{project_id}/chapters/{chapter_id}/snapshots to the\
            \ all available snapshots for a chapter."
          title: Chapter Snapshot Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      responses:
        "200":
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Stream Chapter Audio
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-projects-project_id-chapters-chapter_id-snapshots-chapter_snapshot_id-stream
      x-accepts: application/json
  /v1/projects/{project_id}/update-pronunciation-dictionaries:
    post:
      description: Updates the set of pronunciation dictionaries acting on a project.
        This will automatically mark text within this project as requiring reconverting
        where the new dictionary would apply or the old one no longer does.
      operationId: Projects_updatePronunciationDictionaries
      parameters:
      - description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
          \ to list all available projects."
        example: 21m00Tcm4TlvDq8ikWAM
        explode: false
        in: path
        name: project_id
        required: true
        schema:
          description: "The project_id of the project, you can query GET https://api.elevenlabs.io/v1/projects\
            \ to list all available projects."
          title: Project Id
          type: string
        style: simple
        x-konfig-original-example: 21m00Tcm4TlvDq8ikWAM
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Body_Update_Pronunciation_Dictionaries_v1_projects__project_id__update_pronunciation_dictionaries_post'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectsUpdatePronunciationDictionariesResponse'
          description: Successful Response
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
          description: Validation Error
          x-do-not-generate: true
      summary: Update Pronunciation Dictionaries
      tags:
      - projects
      x-konfig-operation-can-have-single-parameter: true
      x-konfig-single-parameter-schema: konfig-generated-schema-single-parameter-schema-post--v1-projects-project_id-update-pronunciation-dictionaries
      x-content-type: application/json
      x-accepts: application/json
  /v1/dubbing:
    post:
      description: Dubs provided audio or video file into given language.
      operationId: Dubbing_fileInLanguage
      parameters:
      - description: Your API key. This is required by most endpoints to access our
          API programatically. You can view your xi-api-key using the 'Profile' tab
          on the website.
        explode: false
        in: header
        name: xi-api-key
        required: false
        schema:
          description: Your API key. This is required by most endpoints to access
            our API programatically. You can view your xi-api-key using the 'Profile'
            tab on the website.
          title: Xi-Api-Key
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Body_Dub_a_video_or_an_audio_file_v1_dubbing_post'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DoDubbingResponseModel'
          description: Successful Response
        "422":
          content:
[...]
